@font-face {
  font-family: "Mitters";
  src: url(/font/Mitters.ttf);
}

body {
  background-color: rgb(214, 231, 231);
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
}

.banner-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  color: rgb(255, 255, 255);
  font-family: "Mitters";
  font-size: 100px;
  letter-spacing: 38px;
}

.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
  width: calc(100% + 20px);
  height: 265px;
  filter: brightness(70%) blur(2px);
  margin: -10px -10px;
}

.container {
  width: 100%;
  padding-bottom: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 95%;
  gap: 15px;
  margin: auto;
  margin-top: 15px;
}

.columns img {
  width: 100%;
  height: 200px;
  transition: transform 0.5s ease;
  opacity: 1;
  padding-bottom: 10px;
}

.coluna1,
.coluna2,
.coluna3,
.coluna4,
.coluna5,
.coluna6 {
  margin-top: 10px;
}

.desc-atracao {
  text-align: center;
  margin: auto;
  color: rgb(18, 64, 114);
  margin: auto;
  line-height: 21px;
  font-family: "Univia Pro", sans-serif;
  font-size: 14px;
  background-color: rgb(168, 201, 216);
  border-radius: 5px;
}

.columns h2 {
  text-align: left;
  color: rgb(18, 64, 114);
  font-family: "Univia Pro", sans-serif;
  border-radius: 1px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 2px solid rgb(18, 64, 114);
}

.fonte {
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.fonte a {
  text-decoration: none;
  color: rgb(0, 153, 255);
  align-items: center;
  font-family: "Univia Pro", sans-serif;
  transition: color 0.3s;
}

.fonte a:hover {
  color: white;
}
